!!!
%html
  %head
    %title= title
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript' }
    %script{ :src => '/scripts/comments.js', :type => 'text/javascript' }
    = stylesheet [:reset, :layout, :fonts, :tags]
  %body
    #page
      %h1
        %a{ :href => '/' }= title
      #content
        = yield
      #tag_cloud
        %h4 Tags
        %ul.tags
          - @tags.each do |tag, amount|
            %li{ :class => class_for_tag(tag) }
              %a{ :href => tag_url(tag) }= tag

