!!!
%html
  %head
    %title= @title || "LilyBlog"
    = stylesheet [:reset, :tags]
  %body
    %h1
      %a{ :href => '/' }= @title || "LilyBlog"
    #content
      = yield
    #tag_cloud
      %h4 Tags
      %ul.tags
        - @tags.each do |tag, amount|
          %li{ :class => class_for_tag(tag) }
            %a{ :href => "/tags/#{tag}" }= tag

